Solution_1/.vs
Solution_1/Vehicles.Database/obj
Solution_1/Vehicles.ConsoleApp/obj
Solution_1/Vehicles.ConsoleApp/bin/Debug/net8.0
doga1/Cinema/.vs
doga1/Cinema/Cinema_Database/obj
doga1/Cinema/Cinema_Database/bin
doga1/Cinema/Cinema.ConsoleApp/obj
doga1/Cinema/Cinema.ConsoleApp/bin
IKT-2025-01-08/Kreta/.vs
IKT-2025-01-08/Kreta/Kreta.Database/obj
IKT-2025-01-08/Kreta/Kreta.Database/bin
IKT-2025-01-08/Kreta/Kreta.ConsoleApp/bin
IKT-2025-01-08/Kreta/Kreta.ConsoleApp/obj
